.popup {
    position: fixed;
    top:0;
    left: 0;
    height:100vh;
    width:100%;
    z-index: 9999;
    background-color: rgba($color-black, .85);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    
    @supports(-webkit-backdrop-filter:blur(10px)) or (backdrop-filter:blur(10px)) {
        -webkit-backdrop-filter:blur(10px);
        backdrop-filter:blur(10px);
        background-color: rgba($color-black, .3);
    }


    &__content {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%) scale(0);
        background-color: $color-white;
        border-radius: 5px;
        overflow: hidden;
        width:75%;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        display: table;
        opacity: 0;
        transition: all .5s .2s;
    }

    &__left {
        width:33.333333%;
        display: table-cell;
        @include respond(tab-land) {
            width:100%;
            display: block;
            text-align: center;
        }
    }

    &__right {
        width:66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding:3rem 5rem;
        @include respond(tab-land) {
            width:100%;
            display: block;
            padding-top:1.5rem;
        }

        .heading-secondary{
            @include respond(tab-port) {
               padding:0;
            }
        }

    }

    &__img {
        width:100%;

        @include respond(tab-land) {
            width:40%;
            display: inline-block;
            padding: 2rem;
            padding-bottom: 0;
        }
        @include respond(tab-port) {
            display: none;
        }

    }

    &__text {
        font-size: 1.4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-gray-light-2;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;

        @include respond(tab-land) {
            column-count: 1;
        }
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    &__close {
        &:link,
        &:visited {
            position: absolute;
            color:$color-gray-dark-1;
            top:2.5rem;
            right:2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            line-height: 1;
            transition: all .2s;
        }
        &:hover {
            color:$color-primary;
        }
    }

}