.section-about{
    background-color: $color-gray-light-1;
    padding: 30rem 0;
    margin-top: -20vh;
}

.section-features{
    padding:25rem 0;
    margin-top: -10rem;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../img/nat-4.jpg);
    background-size: cover;
    transform:skewY(-6deg);

    & > * {
        transform: skewY(6deg);
    }
}

.section-tours{
    background-color: $color-gray-light-1;
    padding: 30rem 0 15rem 0;
    margin-top: -10rem;
}
